
.host img{
    width: 1279px;
    height: 581px;
    position: absolute;
    top: 1731px;
    max-width: 100%;
    left: 84px;

    border-radius: 18px;

    z-index: -1;
}

.host .host-text {
    z-index: 1;
    position: absolute;
    top: 1787px;
    left: 159px;
    font-size: 38px;
    /* font-style: italic; */
    color: #fff;
    opacity: 0.8;
}

.host-text--two {
    position: absolute;
    top: 1845px;
    left: 166px;
    color: #fff;
    opacity: 0.9;
}

.host-button {
    background-color: #d6cdcd;
    border: none;
    color: #022c37;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 1879px;
    left: 163px;
    border-radius:10px;
    font-style: italic;
    box-shadow: rgb(100 100 111 / 86%) 0px 23px 37px -24px;


}
.host-button:hover{
    color: #fff;
    background-color: rgb(9, 68, 47);
    opacity: 0.7;
}
.should-try-mobile{
  display: none;
}
.should-try__text {
    position: absolute;
    top: 2394px;
    left: 89px;
    padding: 0 0px;
    font-size: 37px;
}

.should-try-table {
    position: absolute;
    top: 2379px;
    left: -26px;

    border-collapse: separate;
    border-spacing: 5em;
}

.should-try-table img {
    width: 344px;
    height: 280px;

    border-radius: 12px;
}

.should-try-table h3 {
  font-size: 24px;
  font-weight: 900;
}

.should-try-table p {
  font-style: italic;
  font-size: 15px;
}
